<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<system.diagnostics>

    <sources>

      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" propagateActivity="true">

        <listeners>

          <add name="xml" />
        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging">

        <listeners>

          <add name="xml" />
        </listeners>
      </source>

      <source name="System.Net">

        <listeners>

          <add name="System.Net" />
        </listeners>
      </source>

      <source name="System.Net.HttpListener">

        <listeners>

          <add name="System.Net" />
        </listeners>
      </source>

      <source name="System.Net.Sockets">

        <listeners>

          <add name="System.Net" />
        </listeners>
      </source>

      <source name="System.Net.Cache">

        <listeners>

          <add name="System.Net" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>

      <add name="xml"

               type="System.Diagnostics.XmlWriterTraceListener"

                     initializeData="C:\temp\WCFTraces.svclog" />

      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener"

      initializeData="c:\temp\SNtrace.log" traceOutputOptions="DateTime"   />
    </sharedListeners>

    <switches>

      <add name="System.Net" value="Verbose" />

      <add name="System.Net.Sockets" value="Verbose" />

      <add name="System.Net.Cache" value="Verbose" />

      <add name="System.Net.HttpListener" value="Verbose" />
    </switches>
  </system.diagnostics>-->

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>

    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->

    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" receiveTimeout="02:00:00" sendTimeout="02:00:00"
          transferMode="Streamed" maxBufferSize="655360" maxReceivedMessageSize="9223372036854775806">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession inactivityTimeout="02:00:00" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" algorithmSuite="Basic128" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SBeh0" name="LauncherLib.Service1">
        <endpoint address="" behaviorConfiguration="NewBehavior0" binding="netTcpBinding"
          bindingConfiguration="NewBinding0" contract="LauncherLib.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/Design_Time_Addresses/LauncherLib/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SBeh0">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="10:00:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>